/* Link element */
.link {
    color: #FF0000;
    font-size: 20px;
    
    
}

.right {
    position: absolute;
    right: 0px;
    padding: 10px;
  }

/* CSS td color */
.td {
    font-style: bold;
    border-spacing: 15px;
    font-size:50px;
}

.link:hover {
    background-color: yellow;
    font-size:30px;
}
/* CSS body color */
.body {background-color: aqua;}

/* CSS label color */
.label {background-color:red ; font-size: 20px;}

/* CSS h1 tag color */
.h1 {background-color:black;
    font-size: 50px;
    
    height: 500px;
    margin-top: 0px;
    border-bottom-width: 0px;
    margin-bottom: 0px;
    padding-bottom: 200px;
    padding-top: 200px;



}

.img {
   
    height: 300px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    border-bottom-width: 100px;
    width: 964px;
}

.top-container {
    display:block;
    margin-left: auto;
    margin-right: auto;
    height:200px;
}

.middle-container {

    height:200px;
    
    padding-bottom: 200px;
    padding-top: 200px;

}

.Bottom-container {
    height: 200px;
}